.anim-check {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    height: 2.5em;
    padding : 4%;
    background-color: $color-third;
    border-radius: 0em 0.9375em 0.9375em 0em;
    transform: scale(0);
    transform-origin: 0%;
    transition: 300ms ease;
}

.fa-circle-check {
    font-size: 1.5em;
    transition: 300ms ease-in-out;
    transform: rotate(0deg) scale(0);
}
@media screen and (min-width: 768px) {
    .fa-circle-check {
      font-size: 2em;  
    } 
}

.meal-card-container {
    &:active {
        & .anim-check {   
            transform: scale(1);
        }
        & .meal-card {
            border-radius:0.9375em 0em 0em 0.9375em;
            min-width: 74%;
        }
        & .fa-circle-check {
            z-index: 1000;
            transform: rotate(720deg) scale(1);
        }
    }
}
    @media screen and (min-width: 768px) {
        .meal-card-container {
            &:active {
                & .meal-card {
                    transform: scaleX(10%);
                }
            }
        } 
    }