.restaurant-card-heart {
    display: flex;
    position: relative;
    bottom: 3em;
    align-self: flex-end;
    margin-right: 8%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
    @media screen and (min-width: 768px) {
        .restaurant-card-heart{
            right: 3em;
            margin-right: 0em;
            bottom: 2.5em;
        }
    }

.fa-heart {
    position: absolute;
    font-size: 1.5em;
    width: 28px;
    text-align: center;
}

.progress__heart {
    font-size: 1.6em;
    background: linear-gradient($color-main, $color-second);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 300ms ease-in-out;
    transform: scale(0);
}

.section-menu-heart {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-right: 1.75em;
}

.restaurant-card-heart:active .progress__heart, .section-menu-heart:active .progress__heart{
    transform: scale(1);
}
