@font-face {
    font-family: "Shrikhand";
    src: url(fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    --color-main :#9356DC;
    --color-second : #FF79DA;
    --color-third : #99E2D0;
    --color-white : #ffffff;
    --color-fourth : #353535;
    --color-background-main : #f6f6f6;
    --color-background-second : #eaeaea;
    --color-hover-howtobtn : #F5EDFF;
    --color-icon-howtobtn :#7e7e7e;
    --color-font-pin-new: #008766;
}

* {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

.color-white {
    color: var(--color-white);
}

/*BOX-SHADOW*/

.box-shadow-header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.box-shadow-how-to {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}

.box-shadow-card {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.box-shadow-button {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

/*BORDER-RADIUS*/

.border-radius-all {
    border-radius: 15px;
}

.border-radius-top {
    border-radius: 15px 15px 0px 0px;
}

/*BUTTON*/

.main-button {
    padding: 15px 20px;
    background: linear-gradient(-8deg, var(--color-main) -5.2%, var(--color-second) 110.74%);
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    width: 187px;
    text-align: center;
    align-self: center;
}

.main-button:hover {
    opacity: 90%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

/*HEADER*/

header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 2px;
    align-items: center;
    height: 63px;
}

.header-side {
    width: 25%;
    display: flex;
}

.header-center {
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-logo {
    height: 30px;
}

.header-arrow {
    margin-left: 23px;
    font-size: 23px;
    height: 30px;
}

/*SECTION LOCATION*/

.section-location{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: var(--color-background-second);
    padding-right: 5%;
    height: 40px;
}
    @media screen and (min-width: 768px) {
        .section-location{
            padding-right: 0px;
            gap : 10px;
        }
    }

.section-location-txt {
    font-weight: 500;
    letter-spacing: 0em;
    color: var(--color-fourth);
}
    
/* SECTION RESERVE*/ 

.section-reserve {
    background: var(--color-background-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    gap: 10px;
} 
    @media screen and (min-width: 768px) {
        .section-reserve-title{
        font-size: 40px;
        line-height: 47px;
        }
    }

.section-reserve-txt {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    color: var(--color-fourth);
}

/*SECTION HOW TO*/

.section-how-to {
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 92%;
    gap: 26px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1500px;
}
    @media screen and (min-width: 768px) {
        .section-how-to{
            max-width: 1200px;
            margin: auto;
        }
    }

.section-how-to-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 25px;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .section-how-to-container{
            flex-direction: row;
        }
    }

.how-to-button {
    padding: 20px 0px;
    width: 96%;
    text-align: center;
    display: flex;
    align-items: center;
    gap:2%;
    background: var(--color-background-main);
}

.how-to-button:hover {
    background: var(--color-hover-howtobtn);
}

.how-to-button:hover .how-to-logo{
    color: var(--color-main);
}

.how-to-number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 11px;
    background: var(--color-main);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 14px;
}

.how-to-position{
    display: flex;
    width: 80%;
    align-items: center;
    gap: 5%;
}

.how-to-logo {
    color: var(--color-icon-howtobtn);
}

.how-to-txt {
    width: 100%;
    align-self: center;
    font-weight: 500;
}

/*SECTION RESTAURANT*/

.section-restaurant {
    background: var(--color-background-main);
    display: flex;
    flex-direction: column;
    padding: 4%;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 92%;
}
    @media screen and (min-width: 768px) {
        .section-restaurant{
            overflow: scroll;
        }
    }

.section-restaurant-title {
    width: 92%;
    padding: 4%;
}
    @media screen and (min-width: 768px) {
        .section-restaurant-title{
            margin: auto;
            max-width: 1200px;
            margin-bottom: -20px;
            padding-top: 40px;
            padding-bottom: 30px;
        }
    }

.section-restaurant-title-background {
    background: var(--color-background-main);
    padding-bottom: 20px;
}

.restaurant-container-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .restaurant-container-card{
            flex-direction: row;
            margin: auto;
            max-width: 1200px;
            gap: 10px
        }
    }

.restaurant-card {
    height:251px;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .restaurant-card{
        min-width: 335px;
        }
    }

.restaurant-card-article {
    height: 100%;
}

.restaurant-card-new {
    position: relative;
    align-self: flex-end;
    text-align: center;
    bottom: 160px;
    margin-right: 5%;
    width: 60px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-third) ;
    color: var(--color-font-pin-new);
    padding: 3px 5px;
}

.restaurant-card-blockimg {
    height:70%;
    display: flex;
    flex-direction: column;
}

.restaurant-card-image {
    height: 100%;  
    object-fit: cover;
    width: 100%;
}

.restaurant-card-blocktxt {
    padding-left: 3%;
    padding-right: 3%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurant-card-title {
    font-size: 18px;
    line-height: 21px;
}

.restaurant-card-city {
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.restaurant-card-heart {
    position: relative;
    bottom: 45px;
    width: 18px;
    align-self: flex-end;
    margin-right: 5%;
    cursor: pointer;
}
    @media screen and (min-width: 768px) {
        .restaurant-card-heart{
            margin-right: 0px;
            right: 55px;
            bottom: 30px;
            font-size: 22px;
        }
    }

/*FOOTER*/

footer {
    background: var(--color-fourth);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}
    @media screen and (min-width: 768px) {
        footer{
            flex-direction: row-reverse;
            gap: 3%;
            align-items: center;
            padding-right: 6%;
            white-space: nowrap;
            height: 114px;
        }
    }

.footer-logo {
    font-family: "Shrikhand";
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
    @media screen and (min-width: 768px) {
        .footer-container{
            flex-direction: row;
            gap: 4%;
        }
    }

.footer-txt {
    font-weight: 500;
    margin-left: 5px;
}

.footer-icon {
    width: 20px;
}

/*MENUS*/

.menus-image {
    width: 100%;
    object-fit: cover;
    margin-top: -0.2em;
    height: 450px;
}

.section-menu {
    padding: 25px 4%;
    width: 92%;
    background: var(--color-background-main);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: -50px;
    border-radius: 40px 40px 0px 0px;
    gap: 35px;
    max-width: 1200px;
    margin: auto;
    margin-top: -80px;
}

.section-menu-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .section-menu-container-title{
            justify-content: center;
            gap :30px;
            margin-top: 30px;
        }
    }

.section-menu-title {
    font-family: "Shrikhand";
    font-style: italic;
    font-size: 28px;
    line-height: 41px;
}

.section-menu-heart {
    font-size: 22px;
    cursor: pointer;
}

.section-meal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

    @media screen and (min-width: 768px) {
        .section-menu-container-title{
            justify-content: center;
            gap :30px;
            margin-top: 30px;
        }
    }

.section-meal-title {
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 300;
}

.section-meal-title-border {
    margin-top: -5px;
    margin-bottom: 5px;
    border-top: 3px solid var(--color-third);
    width: 40px;
}

.section-meal-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}
    @media screen and (min-width: 768px) {
        .section-meal-container{
            gap:20px;
        }
    }

.meal-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    max-height:40px;
    width: 92%;
    background: var(--color-white);
    max-width: 1000px;
}
    @media screen and (min-width: 768px) {
        .meal-card{
        padding-bottom: 20px;
        padding-top: 20px;
        }
    }

.meal-card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 80%;
}

.meal-card-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.meal-card-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}
    @media screen and (min-width: 768px) {
        .meal-card-description{
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        }
    }

.meal-card-price {
    align-self: flex-end;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.58px;
}