/*IMPORT FONTS*/

@font-face {
    font-family: "Shrikhand";
    src: url(fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

/*GLOBAL SETTINGS*/

:root {
    --color-main :#9356DC;
    --color-second : #FF79DA;
    --color-third : #99E2D0;
    --color-white : #ffffff;
    --color-fourth : #353535;
    --color-background-main : #f6f6f6;
    --color-background-second : #eaeaea;
    --color-hover-howtobtn : #F5EDFF;
    --color-icon-howtobtn :#7e7e7e;
    --color-font-pin-new: #008766;
}

* {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    text-decoration: none;
    color: black;
}

.color-white {
    color: var(--color-white);
}

/*BOX-SHADOW*/

.box-shadow-header {
    box-shadow: 0em 0.125em 0.25em rgba(0, 0, 0, 0.3);
}

.box-shadow-how-to {
    box-shadow: 0em 0.125em 0.25em rgba(0,0,0,0.15);
}

.box-shadow-card {
    box-shadow: 0em 0.125em 0.9375em rgba(0,0,0,0.1);
}

.box-shadow-button {
    box-shadow: 0em 0.125em 0.625em rgba(0,0,0,0.25);
}

/*BORDER-RADIUS*/

.border-radius-all {
    border-radius: 0.9375em;
}

.border-radius-top {
    border-radius: 0.9375em 0.9375em 0em 0em;
}

/*BUTTON*/

.main-button {
    padding: 0.9375em 1.25em;
    background: linear-gradient(-8deg, var(--color-main) -5.2%, var(--color-second) 110.74%);
    border-radius: 1.5625em;
    margin: 1.25em 0em 1.25em 0em;
    font-weight: 500;
    width: 11.6875em;
    text-align: center;
    align-self: center;
}

.main-button:hover {
    opacity: 90%;
    box-shadow: 0em 0.25em 0.625em rgba(0,0,0,0.5);
}

/*HEADER*/

header {
    display: flex;
    padding: 1.25em 0em 0.625em 0em;
    margin-bottom: 0.125em;
    align-items: center;
    height: 3.9375em;
}

.header-side {
    width: 25%;
    display: flex;
}

.header-center {
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-logo {
    height: 1.875em;
}

.header-arrow {
    margin-left: 1.4375em;
    font-size: 1.4375em;
    height: 1.875em;
}

/*SECTION LOCATION*/

.section-location{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25em;
    background: var(--color-background-second);
    padding-right: 5%;
    height:  2.5em;
}
    @media screen and (min-width: 768px) {
        .section-location{
            padding-right: 0em;
            gap : 0.625em;
        }
    }

.section-location-txt {
    font-weight: 500;
    color: var(--color-fourth);
}
    
/* SECTION RESERVE*/ 

.section-reserve {
    background: var(--color-background-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875em;
    text-align: center;
    gap: 0.625em;
} 
    @media screen and (min-width: 768px) {
        .section-reserve-title{
        font-size:  2.5em;
        line-height: 2.9375em;
        }
    }

.section-reserve-txt {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.3125em;
    color: var(--color-fourth);
}

/*SECTION HOW TO*/

.section-how-to {
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 92%;
    gap: 1.625em;
    padding: 3.125em 0em;
}
    @media screen and (min-width: 768px) {
        .section-how-to{
            max-width: 75em;
            margin: auto;
        }
    }

.section-how-to-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1.5625em;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .section-how-to-container{
            flex-direction: row;
        }
    }

.how-to-button {
    padding: 1.25em 0em;
    width: 96%;
    text-align: center;
    display: flex;
    align-items: center;
    gap:2%;
    background: var(--color-background-main);
}

.how-to-button:hover {
    background: var(--color-hover-howtobtn);
}

.how-to-button:hover .how-to-logo{
    color: var(--color-main);
}

.how-to-number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.6875em;
    background: var(--color-main);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-size: 0.875em;
}

.how-to-position{
    display: flex;
    width: 80%;
    align-items: center;
    gap: 5%;
}

.how-to-logo {
    color: var(--color-icon-howtobtn);
}

.how-to-txt {
    width: 100%;
    align-self: center;
    font-weight: 500;
}

/*SECTION RESTAURANT*/

.section-restaurant {
    background: var(--color-background-main);
    display: flex;
    flex-direction: column;
    padding: 0em 4% 3.125em 4%;
    width: 92%;
}
    @media screen and (min-width: 768px) {
        .section-restaurant{
            overflow: scroll;
        }
    }

.section-restaurant-title {
    width: 92%;
    padding: 4%;
}
    @media screen and (min-width: 768px) {
        .section-restaurant-title{
            margin: auto;
            max-width: 75em;
            margin-bottom: -1.25em;
            padding:  2.5em 0em 1.875em 0em;
        }
    }

.section-restaurant-title-background {
    background: var(--color-background-main);
    padding-bottom: 1.25em;
}

.restaurant-container-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .restaurant-container-card{
            flex-direction: row;
            margin: auto;
            max-width: 75em;
            gap: 0.625em;
        }
    }

.restaurant-card {
    height:15.6875em;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .restaurant-card{
        min-width: 20.9375em;
        }
    }

.restaurant-card-article {
    height: 100%;
}

.restaurant-card-new {
    position: relative;
    align-self: flex-end;
    bottom: 10em;
    margin-right: 5%;
    font-size: 0.875em;
    font-weight: 500;
    background-color: var(--color-third) ;
    color: var(--color-font-pin-new);
    padding: 0.1875em 0.3125em;
}

.restaurant-card-blockimg {
    height:70%;
    display: flex;
    flex-direction: column;
}

.restaurant-card-image {
    height: 100%;  
    object-fit: cover;
    width: 100%;
}

.restaurant-card-blocktxt {
    padding:0px 3% 0px 3%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurant-card-title {
    font-size: 1.125em;
    line-height: 1.3125em;
}

.restaurant-card-city {
    font-size: 1.0625em;
    font-weight: 300;
    line-height: 1.25em;
}

.restaurant-card-heart {
    position: relative;
    bottom: 2.8125em;
    width: 1.125em;
    align-self: flex-end;
    margin-right: 5%;
    cursor: pointer;
}
    @media screen and (min-width: 768px) {
        .restaurant-card-heart{
            margin-right: 0em;
            right: 3.4375em;
            bottom: 1.875em;
            font-size: 1.375em;
        }
    }

/*FOOTER*/

footer {
    background: var(--color-fourth);
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    padding: 1.5625em;
}
    @media screen and (min-width: 768px) {
        footer{
            flex-direction: row-reverse;
            gap: 3%;
            align-items: center;
            padding-right: 6%;
            white-space: nowrap;
            height: 7.125em;
        }
    }

.footer-logo {
    font-family: "Shrikhand";
    font-size: 1.125em;
    line-height: 1.625em;
    font-style: italic;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
    @media screen and (min-width: 768px) {
        .footer-container{
            flex-direction: row;
            gap: 4%;
        }
    }

.footer-txt {
    font-weight: 500;
    margin-left: 0.3125em;
}

.footer-icon {
    width: 1.25em;
}

/*MENUS*/

.menus-image {
    width: 100%;
    object-fit: cover;
    margin-top: -0.2em;
    height: 28.125em;
}

.section-menu {
    padding: 1.5625em 4%;
    width: 92%;
    background: var(--color-background-main);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: -3.125em;
    border-radius:  2.5em  2.5em 0em 0em;
    gap: 2.1875em;
    max-width: 75em;
    margin: auto;
    margin-top: -5em;
}

.section-menu-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .section-menu-container-title{
            justify-content: center;
            gap :1.875em;
            margin-top: 1.875em;
        }
    }

.section-menu-title {
    font-family: "Shrikhand";
    font-style: italic;
    font-size: 1.75em;
    line-height: 2.5625em;
}

.section-menu-heart {
    font-size: 1.375em;
    cursor: pointer;
}

.section-meal {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    width: 100%;
    max-width: 62.5em;
    margin: auto;
}

    @media screen and (min-width: 768px) {
        .section-menu-container-title{
            justify-content: center;
            gap :1.875em;
            margin-top: 1.875em;
        }
    }

.section-meal-title {
    font-size: 1em;
    line-height: 1.171875em;
    font-weight: 300;
}

.section-meal-title-border {
    margin: -0.3125em 0em 0.3125em 0em;
    border-top: 0.1875em solid var(--color-third);
    width:  2.5em;
}

.section-meal-container {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    width: 100%;
    align-items: center;
}
    @media screen and (min-width: 768px) {
        .section-meal-container{
            gap:1.25em;
        }
    }

.meal-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    max-height: 2.5em;
    width: 92%;
    background: var(--color-white);
    max-width: 62.5em;
}
    @media screen and (min-width: 768px) {
        .meal-card{
        padding-top: 1.25em 0em 1.25em 0em; 
        }
    }

.meal-card-txt {
    display: flex;
    flex-direction: column;
    gap: 0.3125em;
    max-width: 80%;
}

.meal-card-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.3125em;
}

.meal-card-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9375em;
    font-weight: 300;
    line-height: 1.125em;
}
    @media screen and (min-width: 768px) {
        .meal-card-description{
        font-size: 1em;
        line-height:  1.1875em;
        font-weight: 400;
        }
    }

.meal-card-price {
    align-self: flex-end;
    font-size: 0.9375em;
    font-weight: 700;
    line-height: 1.09875em;
}